@-webkit-keyframes colorAnimation {
    from {background-color: #777;}
    to {background-color: green;}
}

/* Standard syntax */
@keyframes colorAnimation {
    from {background-color: #777;}
    to {background-color: green;}
}


.new-message .head {
  -webkit-animation-name: colorAnimation; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 5s; /* Chrome, Safari, Opera */
  animation-name: colorAnimation;
  animation-duration: 5s;
}

.main-box{
  width: 195px;
  float: right;
  margin-right: 5px;
  position: relative;
}
.text-chat input{width: 100%;}
.main-box .body-box ul{height: 240px;}
.main-box .body-box ul li{height: auto;}
.chat-box{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  z-index: 10;
}

.body-box ul{
  list-style: none;
  background: #fff;
  height: 275px;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #f0f0f0;
}

.body-box ul li{
  padding: 5px;
  height: 25px;
  border-bottom: 1px solid #f0f0f0;
}
.body-box ul li a{
  cursor: pointer;
}

.body-box ul li.separator{
  background: #aaa;
  color: #fff;
}

.body-box ul li i{color: gray; margin-right: 5px;}
.body-box ul li.active i{color: green;}

.chat-box-personal{
  float: left;
  width: 85%;
  height: 30px;
}
.chat-box-list-user{
  float: right;
  width: 15%;
  background: #777;
  height: 30px;
  position: absolute;
  right: 0px;
}

.chat-box-list-user.open, .main-box.open{
  height: 300px;
  top: -270px;
}

.chat-box-list-user .head, .main-box .head{
  cursor: pointer;
  height: 30px;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  background: #777;
}